<div class="heroImage">
  data-character="<%%= data-character %>"
  <%%= hero.health %>
  <!-- html below is for health bar -->
  <div class="health-bar" data-total="1000" data-value="1000">
    <div class="bar">
  <div class="hit"></div>
</div>

<div class="nemesisImage">
  <%%= nemesis.img %>
  <%%= nemesis.health %>
  <!--html below is for health bar -->
  <div class="health-bar" data-total="1000" data-value="1000">
    <div class="bar">
  <div class="hit"></div>

  <br />

  <button class="damage random">hit random</button>
</div>
