<html>
<head>
  <title>Arena</title>
</head>

<body>
  <nav>
    <a href="/"><h3>Home</h3></a>
    <a href="#"><h3>Log Out</h3></a>
  </nav>

  <div class="timer">
    <!-- we might be able to use CSS to build this out... -->
  </div>

</body>
    <script type="text/template" class="template">

      <div class="heroImage">
        data-character="<%= data-character %>"
        <%%= hero.health %>
        <!-- html below is for health bar -->
        <div class="health-bar" data-total="1000" data-value="1000">
          <div class="bar">
        <div class="hit"></div>
      </div>

      <div class="nemesisImage">
        <%%= nemesis.img %>
        <%%= nemesis.health %>
        <!--html below is for health bar -->
        <div class="health-bar" data-total="1000" data-value="1000">
          <div class="bar">
  	    <div class="hit"></div>
  </div>
</div>

<br />

<button class="damage random">hit random</button>
      </div>

    </script>
</html>
