<html>
<head>
  <title>Arena</title>
</head>

  <script type="text/template" class="template">

    <div class="heroImage">
      <%%= hero.img %>
      <%%= hero.health %>
    </div>

    <div class="nemesisImage">
      <%%= nemesis.img %>
      <%%= nemesis.health %>
    </div>

  </script>
</html>
