<div class="six column selected-nemesis">

  <div class="nemesis-bio">
  <script type='text/template' id=''>
    <%%= name %>
    <%%= description %>

    <button type="button" id="reselect-nemesis">Reselect</button>
  </div>
</div>
