<div class="six column selected-nemesis">

  <div class="nemesis-bio">
  <script type='text/template' id="nbio-template">
    <%%= nname %>
    <%%= ndescription %>
  </script>
    <button type="button" id="reselect-nemesis">Reselect</button>
  </div>
</div>


<div class="six column selected-hero">

  <div class="hero-bio">
    <script type='text/template' id="hbio-template">
      <%%= hname %>
      <%%= hdescription %>
    </script>
    <button type="button" id="reselect-hero">Reselect</button>
  </div>
</div>
