<!-- 
  <div class="nemesis-bio">
    <script type='text/template' id="nbio-template">
      <%%= nname %>
      <%%= ndescription %>
    </script>
    <button type="button" id="reselect-nemesis">Reselect</button>
  </div> -->
