<html>
<head>
  <title>Winner!</title>
</head>

<nav>
  <a href="/"><h3>Home</h3></a>
  <a href="#"><h3>Log Out</h3></a>
</nav>

  <script type="text/template" class="template">

    <div class="winnerImage">
      data-character="<%= data-character %>" 
    </div>

  </script>
</html>
