<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1>Marvel Tap-It</h1>

      <%= render partial: 'navigation' %>
    </div>
  </div>
</div>


<div class="health-bar" data-total="1000" data-value="1000">
  <div class="bar">
  	  <div class="hit"></div>
  </div>
</div>

<br />

<button class="damage random">hit random</button>
<button class="reset">reset</button>

<div class="log">
  <div>What's going on...</div>
</div>
