<!-- Heroes#show
Find me in app/views/heroes/show.html.erb -->

<!-- Marvel: Tap It - Design Mockup -->

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/stylesheets/application.scss" media="screen">
    <script src="/vendor/assets/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js">
    </script>
  </head>

  <body id="wrapper">


    <nav>
      <div class="logo">
        <h1>Marvel: TapiT</h1>
      </div>
    </nav>


    <div class="container">

      <div id="hero-list">

        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009189" src="/assets/images/black_widow.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009220" src="/assets/images/captain_america.jpg"/>
          </div>

          <div class="four columns">
            <img class ="hero-thumb" data-character="1009288"  src="/assets/images/elektra.jpg"/>
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009351" src="/assets/images/hulk.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009368" src="/assets/images/iron_man.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009629" src="/assets/images/storm.jpg"/>
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <img class="hero-thumb" data-character="1009664" src="/assets/images/thor.jpg"/>
          </div>

          <div class="four columns">
            <img class="hero-thumb" data-character="1009718" src="/assets/images/wolverine.jpg"/>
          </div>
        </div>

      </div>


      <div id="nemesis-list">

        <div class="row">
          <div class="four columns">
              <img class="nemesis-thumb" data-character="1009156" src="assets/images/apocalypse.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009227" src="assets/images/carnage.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009281" src="assets/images/doctor_doom.jpg"/>
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009407" src="assets/images/loki.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009417" src="assets/images/magneto.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009421" src="assets/images/mandarin.jpg"/>
          </div>

        <div class="row">
          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009465" src="/assets/images/mystique.jpg"/>
          </div>

          <div class="four columns">
            <img class="nemesis-thumb" data-character="1009685" src="/assets/images/ultron.jpg"/>
          </div>

        </div>

      </div>
    </div>

    <!-- <footer>
      <p>oh my stars and garters!</p>
    </footer> -->

  </body>
</html>
