

@import 'normalize.scss';
@import 'skeleton.scss';
@import 'users.scss';
@import url(http://fonts.googleapis.com/css?family=Bangers);


$brandTypeFace: 'Bangers', cursive;

// general layout styles :::

// *{
//   display: block;
// }

body {
  padding: 0px;
  margin: 0px;
}

//

h1 {
  font-family: $brandTypeFace;
  font-size: 100px;
}

#battleWrapper {
  height: 600px;
  width: 100%;
  background-image: url(https://studiomaury.files.wordpress.com/2013/11/224.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




// health bar styles


.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;

  transition: width .3s linear;
}

.hit {
  background: rgba(255,255,255,0.6);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  width: 0px;

  transition: width .3s linear;
}
