$brandTypeFace: 'Bangers', cursive;
$comicFont: 'Architects Daughter', cursive;
$white: rgba(255, 255, 255, 1);

// health bar styles :::

.heroBarValue, .nemesisBarValue {
  width: 100%;
  height: 30px;
  background: rgba(0,250,0,.8);
  border: solid 1px;
  border-color: rgba(0,0,0,.7);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
}
