// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pick a player page styles :::

@import 'normalize.scss';
@import 'skeleton.scss';
@import url(http://fonts.googleapis.com/css?family=Bangers);

$brandTypeFace: 'Bangers', cursive;

*{
  display: block;
}

body {
  padding: 0px;
  margin: 0px;
}

#wrapper{
  height: 600px;
  width: 100%;
  background-image: url(https://studiomaury.files.wordpress.com/2013/11/224.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav{
  height: 10%;
}

.container{
  height: 80%;
}


footer{
  height: 5%;
}

.logo{

}

.row{
  height: 20%;
}

#hero-list{
  width: 45%;
  margin-right: 5%;
  padding: 0;
  float: left;
}

#nemesis-list{
  width: 45%;
  margin-left: 5%;
  padding: 0;
  float: left;
}

img.hero-thumb{
  width: 90%;
  margin: 5px;
  padding: 2px;
  border-radius: 100%;
  border: 2px solid rgba(20, 133, 204, 1);
}

img.nemesis-thumb{
  width: 90%;
  margin: 5px;
  padding: 2px;
  border-radius: 100%;
  border: 2px solid rgba(255, 0, 0, 1);
}
